<table class='table table-striped'>
<tbody>
{{#each limitedTopStories as |topStory|}}
  <tr><td>{{news-post post=topStory.item}}</td></tr>
{{/each}}
</tbody>
</table>

{{infinite-scroll infiniteScroll="infiniteScroll"}}
